extends layout 

block content 
    h1 Artist: #{artist.name}

    div(style='margin-left:20px;margin-top:20px')

    h4 Albums 

    dl 
        each album in artist_albums 
            dt 
                a(href=album.url) #{album.title}
            dd #{album.description}
        else 
            p This artist has no albums.